name: Force Entry Scraper

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install Dependencies
        run: pip install selenium webdriver-manager beautifulsoup4

      - name: Run Scraper
        run: python scraper.py

      # حفظ الصورة والنتيجة
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Scan-Results
          path: |
            index.html
            debug_view.png

      - name: Commit HTML
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add index.html
          git commit -m "Forced Entry Result" || echo "No changes"
          git push
